
@{
    ViewBag.Title = "Đặt xe";
}
<style>
    #content_step_2 td {
        vertical-align: middle !important
    }
</style>
<div class="page-content" ng-controller="controller">
    <div class="page-header">
        <h1>
            Đặt xe trực tuyến - Nhà Xe Đồng Hương Sông Lam
        </h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="widget-box">
                <div class="widget-header widget-header-blue widget-header-flat">
                    <h4 class="widget-title lighter">Quy trình đặt xe</h4>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <div id="fuelux-wizard-container">
                            <div>
                                <ul class="steps">
                                    <li id="step_1" class="active">
                                        <span class="step">1</span>
                                        <span class="title">Chọn lộ trình</span>
                                    </li>
                                    <li id="step_2">
                                        <span class="step">2</span>
                                        <span class="title">Chọn tuyến đi</span>
                                    </li>
                                    <li id="step_3">
                                        <span class="step">3</span>
                                        <span class="title">Xác nhận đặt vé</span>
                                    </li>
                                </ul>
                            </div>
                            <hr />
                            <div class="step-content pos-rel">
                                <div id="content_step_1" class="step-pane active">
                                    @Html.Partial("/Views/QuanLyDatXe/QuyTrinhDatXe/Buoc1.cshtml")
                                </div>
                                <div id="content_step_2" class="step-pane">
                                    @Html.Partial("/Views/QuanLyDatXe/QuyTrinhDatXe/Buoc2.cshtml")
                                </div>
                                <div id="content_step_3" class="step-pane">
                                    @Html.Partial("/Views/QuanLyDatXe/QuyTrinhDatXe/Buoc3.cshtml")
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="wizard-actions" style="text-align: center !important">
                            <p class="text-left"><span class="require">(*)</span> Thông tin trường bắt buộc</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var urlGetLoTrinh = 'http://localhost:56893/api/datxe/getlotrinh';
    var urlDiemTrungChuyenTheoLoTrinh = 'http://localhost:56893/api/datxe/getdiemtrungchuyenlotrinh';
    var urlGetTuyenDi = 'http://localhost:56893/api/datxe/gettuyendi';
    var urlPost = 'http://localhost:56893/api/datxe/post';
    var urlGetGheXe = 'http://localhost:56893/api/datxe/getghexe';
    app.controller('controller', ['$scope', '$http', function ($scope, $http) {
        $scope.lotrinhs = [];
        $scope.diemtrungchuyens = {};
        $scope.tuyenxes = [];
        $scope.detail = {
            madiemtrungchuyendon: '',
            madiemtrungchuyentra: ''
        };

        $scope.malotrinh = '';
        $scope.ngaydi = new Date('@DateTime.Now.ToString("yyyy-MM-dd")');
        $scope.currentStep = 1;

        $scope.getLoTrinh = function () {
            $http({
                url: urlGetLoTrinh,
                method: "GET"
            }).then(function success(response) {
                $scope.lotrinhs = response.data;
                $scope.malotrinh = '';
                $scope.diemtrungchuyens = {}
            }, function error(response) {
                alert("Thực hiện không thành công");
            })
        };
        $scope.getDiemTrungChuyenTheoLoTrinh = function () {
            $http({
                url: urlDiemTrungChuyenTheoLoTrinh,
                method: "GET",
                params: {
                    _malotrinh: $scope.malotrinh
                }
            }).then(function success(response) {
                $scope.diemtrungchuyens = response.data;
                $scope.detail.madiemtrungchuyendon = '';
                $scope.detail.madiemtrungchuyentra = '';
                console.log($scope.diemtrungchuyens)
            }, function error(response) {
                alert("Thực hiện không thành công");
            })
        };
        $scope.getTuyenDi = function () {
            //$http({
            //    url: urlGetTuyenDi,
            //    method: "GET",
            //    params: {
            //        _malotrinh: $scope.malotrinh
            //    }
            //}).then(function success(response) {
            //    $scope.diemtrungchuyens = response.data;
            //    console.log($scope.diemtrungchuyens)
            //}, function error(response) {
            //    alert("Thực hiện không thành công");
            //})
        };

        $scope.gotoStep = function (step) {
            let newStep = $scope.currentStep + step;
            if (newStep < 1 || newStep > 3)
                return;
            if (newStep == 2) {
                if ($scope.malotrinh == "" || $scope.detail.madiemtrungchuyendon == "" || $scope.detail.madiemtrungchuyentra == "") {
                    alert("Vui lòng nhập đầy đủ thông tin");
                    return;
                }
                else {
                    $scope.tenlotrinh = $scope.lotrinhs.find(x => x.malotrinh == $scope.malotrinh).tenlotrinh
                    $scope.tendiemdon = $scope.diemtrungchuyens.diemTrungChuyensDon.find(x => x.madiemtrungchuyen == $scope.detail.madiemtrungchuyendon).tendiemtrungchuyen
                    $scope.tendiemtra = $scope.diemtrungchuyens.diemTrungChuyensTra.find(x => x.madiemtrungchuyen == $scope.detail.madiemtrungchuyentra).tendiemtrungchuyen
                    $http({
                        url: urlGetTuyenDi,
                        method: "GET",
                        params: {
                            malotrinh: $scope.malotrinh,
                            ngaydi: $scope.ngaydi,
                            madiemtrungchuyendon: $scope.detail.madiemtrungchuyendon,
                            madiemtrungchuyentra: $scope.detail.madiemtrungchuyentra
                        }
                    }).then(function success(response) {
                        $scope.dstuyendi = JSON.parse(response.data.chuyenXes)
                        console.log($scope.dstuyendi)
                    }, function error(response) {
                        alert("Thực hiện không thành công");
                    })
                }
            }
            $(".steps > li").removeClass('active');
            $(".steps > li").removeClass('complete');
            $(".step-pane").removeClass('active');
            for (let i = 1; i < newStep; i++) {
                $("#step_" + i).addClass('complete');
            }
            $("#step_" + newStep).addClass('active');
            $("#content_step_" + newStep).addClass('active');
            $scope.currentStep = newStep;
        }
        $scope.chonxe = function (xe) {
            console.log(xe)
            $scope.gotoStep(1);
            $scope.xechon = xe;
            $http({
                url: urlGetGheXe,
                method: "GET",
                params: {
                    maxe: xe.maxe,
                    ngaydi: $scope.ngaydi
                }
            }).then(function success(response) {
                $scope.dsghexe = response.data
                console.log($scope.dstuyendi)
            }, function error(response) {
                alert("Thực hiện không thành công");
            })
        }
        $scope.submit = function () {
            if ($scope.detail.matinh == "" || $scope.detail.tentinh == "") {
                alert("Vui lòng nhập đủ thông tin")
                return;
            }
            $http({
                url: urlPost,
                method: "POST",
                data: $scope.detail
            }).then(function success(response) {
                alert("Thành công")
            }, function error(response) {
                alert("Thực hiện không thành công");
            })
        }

        $scope.getLoTrinh();
    }]);
</script>