
@{
    ViewBag.Title = "Quản lý tài khoản";
}
<script src="~/ckfinder/ckfinder.js"></script>
<div class="page-content" ng-controller="controller">
    <div class="page-header">
        <h1>
            Thông tin tài khoản
        </h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label no-padding-right text-center" style="display:block">Avatar</label>
                        <img id="img-logo" ng-src="{{detail.avatar}}" style="width:100%">
                        <input id="Logo" value="{{detail.avatar}}" style="display: none; width: 0px;" name="Logo" class="upload">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label no-padding-right">Họ và tên</label>
                        <div>
                            <input name="hoten" disabled ng-model="detail.hoten" type="text" class="col-xs-12" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label no-padding-right">Giới tính</label>
                        <div>
                            <input ng-model="detail.gioitinh" value="Nam" id="gioi_tinh_nam" name="gioitinh" type="radio" />
                            <label for="gioi_tinh_nam" style="margin-right:10px">Nam</label>
                            <input ng-model="detail.gioitinh" value="Nữ" id="gioi_tinh_nu" name="gioitinh" type="radio" />
                            <label for="gioi_tinh_nu">Nữ</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label no-padding-right">Ngày sinh</label>
                        <div>
                            <input name="ngaysinh" disabled type="date" class="col-xs-12" ng-model="detail.ngaysinh" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label no-padding-right"><b>Thông tin</b></label>
                    </div>
                    <label class="control-label no-padding-right">Địa chỉ</label>
                    <div>
                        <input name="diachi" disabled ng-model="detail.diachi" type="text" class="col-xs-12" />
                    </div>
                </div>
                <div class="col-md-12 text-center hidden" id="box_submit" style="margin-top:10px">
                    <button class="btn btn-primary btn-sm" ng-click="submit()">Cập nhật</button>
                </div>
            </div>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
            <div class="form-group clearfix">
                <label class="control-label no-padding-right">Địa chỉ email</label>
                <div ng-cloak>
                    <label ng-if="!isEditEmail" class="control-label no-padding-right">
                        <b>{{detail.email}}</b>
                    </label>
                    <input ng-if="isEditEmail" type="text" ng-model="detail.email" class="form-control" />
                    <button class="btn btn-primary btn-sm pull-right" ng-click="editemail()">Edit</button>
                </div>
            </div>
            <div class="form-group clearfix">
                <div>
                    <label class="control-label no-padding-right">Mật khẩu</label>
                    <input ng-if="isEditPassword" type="text" ng-model="detail.matkhau" class="form-control" />
                    <button class="btn btn-primary btn-sm pull-right" ng-click="editpassword()">Edit</button>
                </div>
            </div>
            <div class="form-group clearfix">
                <div>
                    <label class="control-label no-padding-right">Thông tin cơ bản</label>
                    <button class="btn btn-primary btn-sm pull-right" onclick="editInfo()">Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var urlDetail = 'http://localhost:56893/api/taikhoan/thongtintaikhoan';
    var urlPut = 'http://localhost:56893/api/taikhoan/capnhatthongtintaikhoan';
    function editInfo() {
        $(document.getElementsByName('hoten')[0]).removeAttr("disabled");
        $(document.getElementsByName('ngaysinh')[0]).removeAttr("disabled");
        $(document.getElementsByName('diachi')[0]).removeAttr("disabled");
        $("#box_submit").removeClass("hidden")
    }
    $(document).ready(function () {
        function setFileField(fileUrl) {
            $('#' + $(upload).attr('for')).val(fileUrl);
            $("#img-logo").attr("src", fileUrl);
        }
        if (!$('.button-upload').length > 0) {
            var upload;
            var textBox = $('.upload');
            for (var i = 0; i < textBox.length; i++) {
                var uploadText = $(textBox[i]);
                uploadText.css('width', uploadText.width() - 70);
                uploadText.after('<button type="button" for="' + uploadText.attr('id') + '" class="button-upload btn-sm btn btn-success">Chọn ảnh</button>');
                $('.button-upload').click(function () {
                    upload = $(this);
                    // You can use the "CKFinder" class to render CKFinder in a page:
                    var finder = new CKFinder();
                    finder.basePath = '../files';
                    finder.selectActionFunction = setFileField;
                    finder.popup();
                });
            }
        }
    });
    app.controller('controller', ['$scope', '$http', function ($scope, $http) {
        $scope.isEditEmail = false;
        $scope.isEditPassword = false;
        $scope.editemail = function () {
            $scope.isEditEmail = true;
            $("#box_submit").removeClass("hidden")
        }
        $scope.editpassword = function () {
            $scope.isEditPassword = true;
            $("#box_submit").removeClass("hidden")
        }
        $scope.getThongTinTaiKhoan = function () {
            $scope.isAdd = false;
            $http({
                url: urlDetail,
                method: "GET",
                params: {
                    _tentaikhoan: '@Session["userName"]'
                }
            }).then(function success(response) {
                $scope.detail = response.data;
                $scope.detail.ngaysinh = new Date($scope.detail.ngaysinh);
            }, function error(response) {
                alert(response.data.Message);
            })
        };
        $scope.submit = function () {
            $scope.detail.avatar = $("#Logo").val();
            if ($scope.detail.matkhau != null && $scope.detail.matkhau != "" && $scope.detail.matkhau.length < 6) {
                alert("Mật khẩu phải trên 6 ký tự");
                return;
            }
            $http({
                url: urlPut,
                method: "PUT",
                data: $scope.detail
            }).then(function success(response) {
                location.reload();
            }, function error(response) {
                alert("Thực hiện không thành công");
            })
        }
        $scope.getThongTinTaiKhoan();
    }]);
</script>