@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>Đăng nhập hệ thống</title>
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/assets/css/fonts.googleapis.com.css" />
    <link rel="stylesheet" href="~/assets/css/ace.min.css" />
    <link rel="stylesheet" href="~/assets/css/ace-rtl.min.css" />
    <script src="~/Scripts/angular.min.js"></script>
</head>
<body class="login-layout light-login" ng-app="app" ng-controller="controller">
    <div class="main-container">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="login-container">
                        <div class="center">
                            <h1>
                                <span class="white" id="id-text2">Hệ thống quản lý đặt vé</span>
                            </h1>
                            <h4 class="blue" id="id-company-text">&copy; Nhà xe Đồng Hương Sông Lam</h4>
                        </div>
                        <div class="space-6"></div>
                        <div class="position-relative">
                            <div id="login-box" class="login-box visible widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header blue lighter bigger">
                                            <i class="ace-icon fa fa-coffee green"></i>
                                            Vui lòng nhập thông tin
                                        </h4>
                                        <div class="space-6"></div>
                                        <div id="login_form">
                                            <fieldset>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input required ng-model="account._userName" type="text" class="form-control" placeholder="Tên tài khoản" />
                                                        <i class="ace-icon fa fa-user"></i>
                                                    </span>
                                                </label>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input required ng-model="account._password" type="password" class="form-control" placeholder="Mật khẩu" />
                                                        <i class="ace-icon fa fa-lock"></i>
                                                    </span>
                                                </label>
                                                <div class="space"></div>
                                                <div class="clearfix text-center">
                                                    <button ng-click="login()" class="btn btn-sm btn-primary">
                                                        <i class="ace-icon fa fa-key"></i>
                                                        <span class="bigger-110">Đăng nhập</span>
                                                    </button>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="toolbar clearfix">
                                        <div>
                                            <a href="#" data-target="#forgot-box" class="forgot-password-link">
                                                <i class="ace-icon fa fa-arrow-left"></i>
                                                Quên tài khoản
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="forgot-box" class="forgot-box widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header red lighter bigger">
                                            <i class="ace-icon fa fa-key"></i>
                                            Lấy lại mật khẩu
                                        </h4>
                                        <div class="space-6"></div>
                                        <p>
                                            Nhập email của bạn và nhận hướng dẫn
                                        </p>
                                        <form>
                                            <fieldset>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input ng-model="emailresetpasswork" type="email" class="form-control" placeholder="Email" />
                                                        <i class="ace-icon fa fa-envelope"></i>
                                                    </span>
                                                </label>
                                                <div class="clearfix">
                                                    <button ng-click="resetpasswork()" type="button" class="width-35 pull-right btn btn-sm btn-danger">
                                                        <i class="ace-icon fa fa-lightbulb-o"></i>
                                                        <span class="bigger-110">Gửi</span>
                                                    </button>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                    <div class="toolbar center">
                                        <a href="#" data-target="#login-box" class="back-to-login-link">
                                            Quay lại
                                            <i class="ace-icon fa fa-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div>
    </div>
    <script src="~/assets/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript">
        setCookie('token', '', 1)
        setCookie('danhsachmanhinh', '', 1)
        jQuery(function ($) {
            $(document).on('click', '.toolbar a[data-target]', function (e) {
                e.preventDefault();
                var target = $(this).data('target');
                $('.widget-box.visible').removeClass('visible');//hide others
                $(target).addClass('visible');//show target
            });
        });
        function checkRequired() {
            var resultCheck = true;
            $("#login_form").each(function () {
                var inputs = $(this).find(':input[required]');
                var i = 0;
                for (i = 0; i < inputs.length; i++) {
                    if (inputs[i].value === null || inputs[i].value === '') {
                        inputs[i].classList.add("border-warning");
                        resultCheck = false;
                    }
                }
            });
            return resultCheck;
        }
        var urlLogin = "http://localhost:56893/api/login/check-account";
        var urlResetPasswork = "http://localhost:56893/api/login/reset-account";
        var app = angular.module('app', []);
        app.controller('controller', ['$scope', '$http', function ($scope, $http) {
            $scope.account = {
                _userName: '',
                _password: '',
                _saveLogin: false
            };
            $scope.email = "";
            $scope.login = function () {
                if (checkRequired()) {
                    $scope.account._saveLogin = $('#login_page_stay_signed').is(':checked');
                    $http({
                        url: urlLogin,
                        method: 'POST',
                        data: $scope.account
                    }).then(function success(response) {
                        var data = response.data;
                        setCookie('token', data.token, 1)
                        setCookie('danhsachmanhinh', data.danhsachmanhinh, 1)
                        setCookie('setingstyle', data.setingstyle, 1)
                        setCookie('avatar', data.avatar, 1)
						setCookie('hoten', data.hoten, 1)
                        location.href = '/';
                    }, function error(response) {
                        alert(response.data.Message);
                    });
                }
                else {
                    alert("Vui lòng nhập đầy đủ tên tài khoản và mật khẩu")
                }
            };
            $scope.resetpasswork = function () {
                if ($scope.emailresetpasswork == null || $scope.emailresetpasswork == "") {
                    alert("Email không hợp lệ");
                    return;
                }
                $http({
                    url: urlResetPasswork,
                    method: 'POST',
                    data: {
                        emailresetpasswork: $scope.emailresetpasswork
                    }
                }).then(function success(response) {
                    alert("Thông tin đã được gửi đến email vui lòng vào hòm thư để tiếp tục");
                }, function error(response) {
                    alert(response.data.Message);
                });
            }
        }]);

        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }
    </script>
</body>
</html>

