@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>Lấy lại mật khẩu</title>
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/assets/css/fonts.googleapis.com.css" />
    <link rel="stylesheet" href="~/assets/css/ace.min.css" />
    <link rel="stylesheet" href="~/assets/css/ace-rtl.min.css" />
    <script src="~/Scripts/angular.min.js"></script>
</head>
<body class="login-layout light-login" ng-app="app" ng-controller="controller">
    <div class="main-container">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="login-container">
                        <div class="center">
                            <h1>
                                <span class="white" id="id-text2">Cập nhật lại mật khẩu</span>
                            </h1>
                            <h4 class="blue" id="id-company-text">&copy; Nhà xe Đồng Hương Sông Lam</h4>
                        </div>
                        <div class="space-6"></div>
                        <div class="position-relative">
                            <div id="login-box" class="login-box visible widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header blue lighter bigger">
                                            <i class="ace-icon fa fa-coffee green"></i>
                                            Vui lòng nhập thông tin
                                        </h4>
                                        <div class="space-6"></div>
                                        <div id="login_form">
                                            <fieldset>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input readonly ng-model="account._userName" type="text" class="form-control" />
                                                        <i class="ace-icon fa fa-user"></i>
                                                    </span>
                                                </label>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input required ng-model="account._password" type="password" class="form-control" placeholder="Mật khẩu" />
                                                        <i class="ace-icon fa fa-lock"></i>
                                                    </span>
                                                </label>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input required ng-model="account._password2" type="password" class="form-control" placeholder="Nhập lại mật khẩu" />
                                                        <i class="ace-icon fa fa-lock"></i>
                                                    </span>
                                                </label>
                                                <div class="space"></div>
                                                <div class="clearfix text-center">
                                                    <button ng-click="reset()" class="btn btn-sm btn-primary">
                                                        <i class="ace-icon fa fa-key"></i>
                                                        <span class="bigger-110">Cập nhật</span>
                                                    </button>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div>
    </div>
    <script src="~/assets/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript">
        function checkRequired() {
            var resultCheck = true;
            $("#login_form").each(function () {
                var inputs = $(this).find(':input[required]');
                var i = 0;
                for (i = 0; i < inputs.length; i++) {
                    if (inputs[i].value === null || inputs[i].value === '') {
                        inputs[i].classList.add("border-warning");
                        resultCheck = false;
                    }
                }
            });
            return resultCheck;
        }
        var urlReset = "http://localhost:56893/api/login/reset";
        var urlCheckToken = "http://localhost:56893/api/login/check-token?token=@ViewBag.token";
        var app = angular.module('app', []);
        app.controller('controller', ['$scope', '$http', function ($scope, $http) {
            $scope.account = {
                _userName: '',
                _password: '',
                _password2: '',
                _token: '@ViewBag.token'
            };
            $scope.email = "";
            $scope.reset = function () {
                if (checkRequired()) {
                    if ($scope.account._password != $scope.account._password2) {
                        alert('Mật khẩu nhập lại không khớp');
                        return;
                    }
                    if ($scope.account._password.length < 6) {
                        alert("Mật khẩu phải trên 6 ký tự")
                        return;
                    }
                    $http({
                        url: urlReset,
                        method: 'POST',
                        data: $scope.account
                    }).then(function success(response) {
                        alert("Cập nhật thành công");
                        if (confirm("Quay về trang đăng nhập"))
                            location.href = '/Login/DangNhap';
                    }, function error(response) {
                        alert(response.data.Message);
                    });
                }
                else {
                    alert("Vui lòng nhập đầy đủ thông tin")
                }
            };
            $scope.checkToken = function () {
                $http({
                    url: urlCheckToken,
                    method: 'POST',
                    data: {
                        emailresetpasswork: '@ViewBag.email',
                        _token: '@ViewBag.token'
                    }
                }).then(function success(response) {
                    $scope.account = response.data;
                }, function error(response) {
                    alert(response.data.Message);
                    location.href = "/Error"
                });
            }
            $scope.checkToken()
        }]);
    </script>
</body>
</html>

