<div>
    <div class="row">
        <div class="col-md-12 margin-md-bottom">
            <h4>
                <b style="color:#d00707">Hà Nội</b> tới <b style="color:#d00707">Nghệ An</b>
            </h4>
            <h5>Ngày đi: <b>@DateTime.Now.ToString("dd/MM/yyyy")</b></h5>
        </div>
       <div class="col-md-12 margin-md-bottom">
           <div>
               <table class="table table-bordered table-condensed table-striped  table-hover">
                   <thead>
                       <tr>
                           <th>Chuyến xe</th>
                           <th>Khởi hành</th>
                           <th>Đến</th>
                           <th>Ghế trống</th>
                           <th>Giá vé</th>
                       </tr>
                   </thead>
               </table>
           </div>
        </div>
    </div>
</div>
