<style>
    .box-ghe {
        padding: 10px;
        height: 70px;
        overflow: hidden;
        cursor: pointer
    }

        .box-ghe.box-ghe-nonactive {
            background: #ec7005;
        }

        .box-ghe.box-ghe-choose {
            background: #0040f5 !IMPORTANT;
            color: white;
        }

        .box-ghe.box-ghe-active {
            background: #60ea57;
        }

        .box-ghe h3 {
            margin: 12px 0 0 0
        }
</style>
<div>
    <div class="row">
        <div class="col-md-12 margin-md-bottom">
            <div class="row">
                <div class="col-md-8">
                    <h3>Chọn ghế</h3>
                    <div class="row">
                        <div class="col-md-6 margin-md-bottom">
                            <table class="table table-bordered table-condensed table-hover">
                                <thead>
                                    <tr>
                                        <th colspan="5" class="text-center">
                                            <h4>TẦNG 1</h4>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody ng-cloak>
                                    <tr ng-repeat="item in dsghexe.ghetang1">
                                        <td class="text-center" ng-repeat="item2 in item.Ghes">
                                            <div ng-click="chooseGhe(item2)" ng-if="item2.active && item2.trangthai == 0" class="box-ghe box-ghe-{{item2.maghe}} box-ghe-active">
                                                <h3>{{item2.maghe}}</h3>
                                            </div>
                                            <div ng-if="item2.active && item2.trangthai != 0" class="box-ghe box-ghe-nonactive">
                                                <h3>{{item2.maghe}}</h3>
                                            </div>
                                            <div ng-if="!item2.active" class="box-ghe">
                                                <h3>#</h3>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6 margin-md-bottom">
                            <table class="table table-bordered table-condensed table-hover">
                                <thead>
                                    <tr>
                                        <th colspan="5" class="text-center">
                                            <h4>TẦNG 2</h4>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody ng-cloak>
                                    <tr ng-repeat="item in dsghexe.ghetang2">
                                        <td class="text-center" ng-repeat="item2 in item.Ghes">
                                            <div ng-click="chooseGhe(item2)" ng-if="item2.active && item2.trangthai == 0" class="box-ghe box-ghe-{{item2.maghe}} box-ghe-active">
                                                <h3>{{item2.maghe}}</h3>
                                            </div>
                                            <div ng-if="item2.active && item2.trangthai != 0" class="box-ghe box-ghe-nonactive">
                                                <h3>{{item2.maghe}}</h3>
                                            </div>
                                            <div ng-if="!item2.active" class="box-ghe">
                                                <h3>#</h3>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <h3>Thông tin chuyến xe</h3>
                        <h4>
                            Chuyến xe: <b style="color:#d00707">{{tenlotrinh}}</b>
                        </h4>
                        <h5>Ngày đi: <b>{{ngaydi | date:'dd/MM/yyyy'}}</b></h5>
                        <h5>Điểm đón: <b>{{tendiemdon}}</b></h5>
                        <h5>Điểm trả: <b>{{tendiemtra}}</b></h5>
                        <h5>Xe: <b>{{xechon.maxe}}/{{xechon.biensoxe}}</b></h5>
                        <h5>Kip: <b>{{xechon.tenkip}}</b></h5>
                        <h5>Giờ chạy: <b>{{xechon.thoigian}}</b></h5>
                        <h5>Giá vé/người: <b>{{xechon.giave | currency:'':''}}</b></h5>
                        <hr />
                        <h5>Số lượng khách: <b>{{ghechons.length}}</b></h5>
                        <h4><b>THÀNH TIỀN: {{(xechon.giave * ghechons.length) | currency:'':''}}</b></h4>
                    </div>
                    <hr />
                    <div>
                        <h3>Thông tin khách hàng</h3>
                        <div class="form-group">
                            <label class="control-label no-padding-right">Tên khách hàng <span class="require">(*)</span></label>
                            <div>
                                <input type="text" class="form-control" ng-model="khachhang.hoten" name="name" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label no-padding-right">Giới tính</label>
                            <div>
                                <select ng-model="khachhang.gioitinh" class="col-xs-12">
                                    <option value="Nam">Nam</option>
                                    <option value="Nữ">Nữ</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label no-padding-right">Số điện thoại <span class="require">(*)</span></label>
                            <div>
                                <input type="text" class="form-control" ng-model="khachhang.sodienthoai" name="name" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label no-padding-right">Email</label>
                            <div>
                                <input type="text" class="form-control" ng-model="khachhang.email" name="name" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label no-padding-right">Địa chỉ</label>
                            <div>
                                <input type="text" class="form-control" ng-model="khachhang.diachi" name="name" value="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-center" style="margin-top:50px">
            <button class="btn btn-sm" ng-click="gotoStep(-1)">
                <i class="ace-icon fa fa-arrow-left"></i>
                Quay lại
            </button>
            <button class="btn btn-success btn-sm" ng-click="submit()">
                Hoàn thành
                <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
            </button>
        </div>
    </div>
</div>
