<div style="max-width: 600px;margin: 0 auto;">
    <div class="row">
        <div class="col-md-12 margin-md-bottom">
            <div class="form-group">
                <label class="control-label no-padding-right">Chọn lộ trình <span class="require">(*)</span></label>
                <div>
                    <select ng-model="malotrinh" class="col-xs-12" ng-change="getDiemTrungChuyenTheoLoTrinh()">
                        <option value="">Chọn...</option>
                        <option ng-repeat="item in lotrinhs" value="{{item.malotrinh}}">{{item.tenlotrinh}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6 margin-md-bottom">
            <div class="form-group">
                <label class="control-label no-padding-right">Điểm trung chuyển đón <span class="require">(*)</span></label>
                <div>
                    <select ng-model="detail.madiemtrungchuyendon" class="col-xs-12" ng-change="getTuyenDi()">
                        <option value="">Chọn...</option>
                        <option ng-repeat="item in diemtrungchuyens.diemTrungChuyensDon" value="{{item.madiemtrungchuyen}}">{{item.tendiemtrungchuyen}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6 margin-md-bottom">
            <div class="form-group">
                <label class="control-label no-padding-right">Điểm trung chuyển trả <span class="require">(*)</span></label>
                <div>
                    <select ng-model="detail.madiemtrungchuyentra" class="col-xs-12" ng-change="getTuyenDi()">
                        <option value="">Chọn...</option>
                        <option ng-repeat="item in diemtrungchuyens.diemTrungChuyensTra" value="{{item.madiemtrungchuyen}}">{{item.tendiemtrungchuyen}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-12 margin-md-bottom">
            <div class="form-group">
                <label class="control-label no-padding-right">Ngày đi</label>
                <div>
                    <input type="date" class="col-xs-12" ng-model="ngaydi" />
                </div>
            </div>
        </div>
    </div>
</div>
