@{
    List<string> acceptScreen = (List<string>)Session["acceptScreen"];
    if (acceptScreen == null)
    {
        acceptScreen = new List<string>();
    }
    int settingstyle = 1;
    if (Session["setingstyle"] != null)
    {
        settingstyle = int.Parse(Session["setingstyle"].ToString());
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/assets/css/fonts.googleapis.com.css" />
    <link rel="stylesheet" href="~/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
    <link rel="stylesheet" href="~/assets/css/ace-skins.min.css" />
    <link rel="stylesheet" href="~/assets/css/ace-rtl.min.css" />
    <script src="~/assets/js/ace-extra.min.js"></script>
    <script src="~/assets/js/jquery-2.1.4.min.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-sanitize.min.js"></script>
    <script src="~/Scripts/layout-angular.js"></script>
</head>
@if (settingstyle == 1)
{
    <div>
        <style>
            .table-header {
                background-color: #1abd36 !important;
            }

            .navbar {
                background: #18b733 !important;
            }

            .ace-nav > li.light-blue > a {
                background-color: #18b733 !important;
            }

                .ace-nav > li.light-blue > a:focus, .ace-nav > li.light-blue > a:hover, .ace-nav > li.open.light-blue > a {
                    background-color: #1c9430 !IMPORTANT;
                }

            .page-header h1 {
                color: #0ba926 !important;
            }

            .no-skin .nav-list > li.active > a {
                color: #0ba926 !important;
            }

            .no-skin .nav-list > li.open > a {
                color: #0ba926 !important;
            }

            .no-skin .nav-list > li > .submenu li.open > a, .no-skin .nav-list > li > .submenu li > .submenu li.active > a, .no-skin .nav-list > li > .submenu li > .submenu li.open > a {
                color: #0ba926 !important;
            }

            .no-skin .nav-list li.active > a:after {
                border-right-color: #0ba926 !important;
            }

            .no-skin .nav-list > li.active:after {
                border: 2px solid #0ba926 !important;
            }

            .btn-primary, .btn-primary.focus, .btn-primary:focus {
                background-color: #0BA926 !important;
                border-color: #0BA926;
            }

                .btn-primary.focus:hover, .btn-primary:active:hover, .btn-primary:focus:active, .btn-primary:focus:hover, .btn-primary:hover, .open > .btn-primary.dropdown-toggle, .open > .btn-primary.dropdown-toggle.focus, .open > .btn-primary.dropdown-toggle:active, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle:hover {
                    background-color: #18b733 !important;
                    border-color: #18b733 !important;
                }

            .widget-header {
                color: #18b733 !important;
            }

            .steps > li.active .step, .steps > li.active:before, .steps > li.complete .step, .steps > li.complete:before {
                border-color: #18b733 !important;
            }

            .blue {
                color: #0c5c1a !important;
            }
        </style>
    </div>
}
<body class="no-skin" ng-app="app">
    <div id="navbar" class="navbar navbar-default ace-save-state">
        <div class="navbar-container ace-save-state" id="navbar-container">
            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
                <span class="sr-only">Toggle sidebar</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="navbar-header pull-left">
                <a href="/" class="navbar-brand">
                    <small>
                        <i class="fa fa-leaf"></i>
                        Admin
                    </small>
                </a>
            </div>

            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
                    <li class="light-blue dropdown-modal">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <img class="nav-user-photo" src="~/assets/images/avatars/user.jpg" alt="Thông tin tài khoản" />
                            <span class="user-info">
                                <small>Admin</small>
                            </span>
                            <i class="ace-icon fa fa-caret-down"></i>
                        </a>
                        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                            <li>
                                <a href="/QuanLyTaiKhoan/ThongTinTaiKhoan">
                                    <i class="ace-icon fa fa-user"></i>
                                    Thông tin tài khoản
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="/Login/DangXuat">
                                    <i class="ace-icon fa fa-power-off"></i>
                                    Đăng xuất
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="main-container ace-save-state" id="main-container">
        <div id="sidebar" class="sidebar responsive ace-save-state">
            <ul class="nav nav-list">
                <li class="active">
                    <a href="/TongQuan/ManHinhTongQuan">
                        <i class="menu-icon fa fa-tachometer"></i>
                        <span class="menu-text"> Tổng quan </span>
                    </a>
                    <b class="arrow"></b>
                </li>
                @if (acceptScreen.Any(x => x == "DatXe"))
                {
                    <li class="open">
                        <a href="/QuanLyDatXe/DatXe">
                            <i class="menu-icon fa fa-fax"></i>
                            <span class="menu-text"> Đặt xe </span>
                        </a>
                    </li>
                }
                @if (acceptScreen.Any(x => x == "DanhSachDatXe"))
                {
                    <li class="open">
                        <a href="/QuanLyDatXe/DanhSachDatXe">
                            <i class="menu-icon fa fa-list-ol"></i>
                            <span class="menu-text"> Danh sách đặt xe </span>
                        </a>
                    </li>
                }
                <li class="open">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-bus"></i>
                        <span class="menu-text">
                            Quản lý xe &amp; ghế
                        </span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>
                    <ul class="submenu">
                        @if (acceptScreen.Any(x => x == "DanhSachXe"))
                        {
                            <li class="open">
                                <a href="/QuanLyXe/DanhSachXe">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Quản lý xe
                                </a>
                                <b class="arrow"></b>
                            </li>
                        }
                        @if (acceptScreen.Any(x => x == "DanhSachGheNgoi"))
                        {
                            <li class="open">
                                <a href="/QuanLyGheNgoi/DanhSachGheNgoi">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Quản lý ghế ngồi
                                </a>
                                <b class="arrow"></b>
                            </li>
                        }
                        @if (acceptScreen.Any(x => x == "GiaGhe"))
                        {
                            <li class="open">
                                <a href="/QuanLyGiaGhe/GiaGhe">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Quản lý bảng giá
                                </a>
                                <b class="arrow"></b>
                            </li>
                        }
                        <li class="open">
                            <a href="/QuanLyChuyenXe/DanhSachChuyenXe">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Quản lý chuyến xe
                            </a>
                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>
                <li class="open">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-code-fork"></i>
                        <span class="menu-text">
                            Lộ trình &amp; ĐTC
                        </span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>
                    <ul class="submenu">
                        @if (acceptScreen.Any(x => x == "DanhSachLoTrinh"))
                        {
                            <li class="open">
                                <a href="/QuanLyLoTrinh/DanhSachLoTrinh">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Quản lý lộ trình
                                </a>
                                <b class="arrow"></b>
                            </li>
                        }
                        <li class="open">
                            <a href="/QuanLyLoTrinh/DanhSachChiTietLoTrinh">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Quản lý chi tiết lộ trình
                            </a>
                            <b class="arrow"></b>
                        </li>
                        @if (acceptScreen.Any(x => x == "DanhSachDiemCC"))
                        {
                            <li class="open">
                                <a href="/QuanLyDiemChungChuyen/DanhSachDiemCC">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Quản lý điểm chung chuyển
                                </a>
                                <b class="arrow"></b>
                            </li>
                        }
                        @if (acceptScreen.Any(x => x == "DanhSachTinhThanh"))
                        {
                            <li class="open">
                                <a href="/QuanLyTinhThanh/DanhSachTinhThanh">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Quản lý tỉnh thành
                                </a>
                                <b class="arrow"></b>
                            </li>
                        }
                        @if (acceptScreen.Any(x => x == "DanhSachKip"))
                        {
                            <li class="open">
                                <a href="/QuanLyKip/DanhSachKip">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Quản lý kip
                                </a>
                                <b class="arrow"></b>
                            </li>
                        }
                    </ul>
                </li>
                <li class="open">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-users"></i>
                        <span class="menu-text">
                            Quản lý khách hàng
                        </span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>
                    <ul class="submenu">
                        @if (acceptScreen.Any(x => x == "DanhSachKhachHang"))
                        {
                            <li class="open">
                                <a href="/QuanLyKhachHang/DanhSachKhachHang">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    DS khách hàng
                                </a>
                                <b class="arrow"></b>
                            </li>
                        }
                        @if (acceptScreen.Any(x => x == "TichDiem"))
                        {
                            <li class="open">
                                <a href="#">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Tích điểm
                                </a>
                                <b class="arrow"></b>
                            </li>
                        }
                        @if (acceptScreen.Any(x => x == "LoaiKhachHang"))
                        {
                            <li class="open">
                                <a href="#">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Loại khách hàng
                                </a>
                                <b class="arrow"></b>
                            </li>
                        }
                    </ul>
                </li>

                <li class="open">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-users"></i>
                        <span class="menu-text">
                            Quản lý tài khoản
                        </span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>
                    <ul class="submenu">
                        <li class="open">
                            <a href="/QuanLyTaiKhoan/ThongTinTaiKhoan">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Profile
                            </a>
                            <b class="arrow"></b>
                        </li>
                        @if (acceptScreen.Any(x => x == "DanhSachTaiKhoan"))
                        {
                            <li class="open">
                                <a href="/QuanLyTaiKhoan/DanhSachTaiKhoan">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Danh sách tài khoản
                                </a>
                                <b class="arrow"></b>
                            </li>
                        }
                    </ul>
                </li>
                @if (acceptScreen.Any(x => x == "DanhSachTaiKhoan"))
                {
                    <li class="open">
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-bar-chart"></i>
                            <span class="menu-text">
                                Thống kê
                            </span>
                            <b class="arrow fa fa-angle-down"></b>
                        </a>
                        <b class="arrow"></b>
                        <ul class="submenu">
                            <li class="open">
                                <a href="/ThongKe/ThongKeDatXe">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Thống kê đặt vé
                                </a>
                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li>
                }

                <li class="open">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-gear"></i>
                        <span class="menu-text">
                            Cài đặt
                        </span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>
                    <ul class="submenu">
                        @if (acceptScreen.Any(x => x == "PhanQuyen"))
                        {
                            <li class="open">
                                <a href="/QuanLyTaiKhoan/PhanQuyen">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Cài đặt quyền
                                </a>
                                <b class="arrow"></b>
                            </li>
                        }
                        @if (acceptScreen.Any(x => x == "DanhSachTaiKhoan"))
                        {
                            <li class="open">
                                <a href="/Setting/SettingStyle">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Cấu hình
                                </a>
                                <b class="arrow"></b>
                            </li>
                        }
                        @if (acceptScreen.Any(x => x == "DanhSachChucVu"))
                        {
                            <li class="open">
                                <a href="/QuanLyChucVu/DanhSachChucVu">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Quản lý chức vụ
                                </a>
                                <b class="arrow"></b>
                            </li>
                        }
                        @if (acceptScreen.Any(x => x == "DanhSachNhanVien"))
                        {
                            <li class="open">
                                <a href="/QuanLyNhanVien/DanhSachNhanVien">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Quản lý nhân viên
                                </a>
                                <b class="arrow"></b>
                            </li>
                        }
                        @if (acceptScreen.Any(x => x == "DanhSachQuyen"))
                        {
                            <li class="open">
                                <a href="/QuanLyQuyen/DanhSachQuyen">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Quản lý danh sách quyền
                                </a>
                                <b class="arrow"></b>
                            </li>
                        }
                    </ul>
                </li>
                @if (acceptScreen.Any(x => x == "ThongTinNhaXe"))
                {
                    <li class="open">
                        <a href="/QuanLyNhaXe/ThongTinNhaXe">
                            <i class="menu-icon fa fa-building"></i>
                            <span class="menu-text"> Thông tin nhà xe </span>
                        </a>
                    </li>
                }
            </ul><!-- /.nav-list -->

            <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
            </div>
        </div>

        <div class="main-content">
            <div class="main-content-inner">
                @RenderBody()
            </div>
        </div><!-- /.main-content -->

        <div class="footer">
            <div class="footer-inner">
                <div class="footer-content">
                    <span class="bigger-120">
                        Hệ thống quản lý nhà xe &copy; 2019
                    </span>
                </div>
            </div>
        </div>
    </div>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery-ui.custom.min.js"></script>
    <script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/assets/js/jquery.easypiechart.min.js"></script>
    <script src="~/assets/js/jquery.sparkline.index.min.js"></script>
    <script src="~/assets/js/ace-elements.min.js"></script>
    <script src="~/assets/js/ace.min.js"></script>
    <script>
        function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }
    </script>
</body>
</html>
